<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <h1>Ingresa tus datos</h1><br><br>

    <label for="email"> email: </label><br>
    <input type="text" name="email" id="email" placeholder="email"><br><br>

    <label for="password"> contraseña: </label><br>
    <input type="password" name="passw" id="passw" placeholder="Contraseña"><br><br>

    <div class="g-recaptcha" data-sitekey="6Ld-yzYbAAAAAEsZyiUJNPI-M1EXurK5ztrNJHUy"></div>
    <br/>
      <input type="submit" value="Submit">




    
</body>
</html>